/SkillUpHub.Profile.API/appsettings.json
/SkillUpHub.Profile.API/bin/*
/SkillUpHub.Profile.API/obj/*
/SkillUpHub.Command.Application/bin/*
/SkillUpHub.Command.Application/obj/*
/SkillUpHub.Command.Contract/bin/*
/SkillUpHub.Command.Contract/obj/*
/SkillUpHub.Command.Infrastructure/obj/*
/SkillUpHub.Command.Infrastructure/bin/*
/SkillUpHub.Query.Application/bin/*
/SkillUpHub.Query.Application/obj/*
/.vs/*
/.idea/*